@import "./colors/colors.module";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: $background-grey;
}

a {
  text-decoration: none;
  color: #000;
}


