@import "../../styles/colors/colors.module";

.header {
    display: flex;
    align-items: center;
    vertical-align: center;
    padding: 10px 30px;
    background-color: $secondary;
    height: 100px;

}