.profile {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.userSubs {
  margin-left: 20px;
  padding: 20px;
}

.tabs {
  margin-top: 10px;
  width: 100%;
}
