$primary: #2979ff;
$primary-light: #5393ff;
$primary-dark: #1c54b2;

$secondary: #fff3e0;
$secondary-light: #ffffff;
$secondary-dark: #d3d3d3;

$hover-grey: rgb(235, 235, 235);

$background-grey: rgb(247, 247, 247);
