$primary: #ff9800;
$primary-light: #ffac33;
$primary-dark: #b26a00;

$secondary: #fff3e0;
$secondary-light: #ffffff;
$secondary-dark: #d3d3d3;

$hover-grey: rgb(235, 235, 235);

$background-grey: rgb(247, 247, 247);